body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}

body {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.008);
  border-radius: 16px;
  padding: 30px;
}

::backdrop {
  color: rgb(153, 161, 223);
}

h1 {
  font-size: 24px;
  color: blue;
  text-align: center;
}

.lol {
  font-size: 18px;
  color: red;
  text-align: center;
}

button {
  display: block;
  padding: 15px;
  margin: 20px auto;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.jokes {
  font-size: 18px;
  text-align: center;
  color: rgb(50, 34, 150);
  margin-top: 20px;
  width: 100%;
  display: block;
}

footer {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}
