::backdrop {
  color: rgb(160, 211, 224);
}

h1 {
  font-size: 24px;
  color: blue;
  text-align: center;
}

.lol {
  font-size: 18px;
  color: red;
  text-align: center;
}

button {
  display: flex;
  padding: 15px;
  margin: 0 auto;
}

.jokes {
  display: flex;
  margin: 0 auto;
  color: rgb(50, 34, 150);
}
